.header
  .header__top
    .container.clearfix
      .logo-wrap.logo-wrap--left
        a.logo(href="#")
          img.logo__img(src="img/logo.png", alt="logo")
      .menu-wrap.menu-wrap--right
        .menu-toggle
          .one
          .two
          .three
        ul.nav
          li.nav__item
            a.nav__link(href="#") About
          li.nav__item
            a.nav__link(href="#") How it works
          li.nav__item
            a.nav__link(href="#") Services
          li.nav__item
            a.nav__link(href="#") Faq
          li.nav__item
            a.nav__link(href="#") Contact
          li.nav__form
            form.form(action="#")
              input.form__search(type="search", name="", placeholder="Search Website")
              input.form__submit(type="submit", name="", value="")
  .header__bottom
    .container.clearfix
      .section-text.section-text--left
        h1.section-text__title Designs your eyeballs will thank you for
        a.btn(href="#") Get started today
        p.section-text__description.section-text__description--left Lorem ipsum dolor sit amet, consectetur
