.section-contact
  .container
    .contact-wrap.clearfix
      .contact.contact--left
        h2.contact__title Get in touch
        p.contact__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        a.contact__email(href="mailto:help@yomuma.com") help@yomuma.com
