.section-two
  .container
    .section-two-wpar
      .section-text.section-text--center
        h1.section-text__title.section-text__title--small Wicked & whack, bang bang boo!
        p.section-text__description.section-text__description--middle
                                                                    | Lorem ipsum dolor sit amet,
                                                                    | consectetur adipisicing elit, sed do
                                                                    br
                                                                    | eiusmod tempor incididunt ut labore et
                                                                    | dolore magna aliqua. Ut
        a.section-text__btn.btn.btn--white.btn--big(href="#") Get started today
