.section-five
  .container
    .feature-article-wrap.clearfix
      .carousel
        .carousel-wrapper
          .carousel-items.clearfix
            .feature-article.feature-article--left
              a.btn.btn--transparent.btn--small(href="#") Photography
              p.feature-article__post Lorem ipsum dolor sit amet consectetur adipisicing elit
              .author
                img.author__photo(src="img/author.jpg", alt="Blaz Robar")
                span.author__job Blaz Robar, god like web designer
            .feature-article.feature-article--left
              a.btn.btn--transparent.btn--small(href="#") Projects 
              p.feature-article__post Sed ut perspiciatis unde omnis iste natus error sit voluptatem
              .author
                img.author__photo(src="img/author-2.jpg", alt="Frank Sobatko")
                span.author__job Frank Sobatko, frontent developer
            .feature-article.feature-article--left
              a.btn.btn--transparent.btn--small(href="#") Projects  
              p.feature-article__post Duis aute irure dolor in reprehenderit involuptate
              .author
                img.author__photo(src="img/author-3.jpg", alt="Sabina Bryant")
                span.author__job Sabina Bryant, Ruby developer
