.section-four
  .section-four-wrap
    .container
      .section-text.section-text--center
        h1.section-text__title.section-text__title--middle Experience the rush today
        p.section-text__description.section-text__description--big.section-text__description--blue
                                                                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                                                    |sed do eiusmod tempor
                                                                    br
                                                                    |incididunt ut labore et dolore magna aliqua consectetur adipisicing elit.
        a.btn(href="#") Get started today
        p.section-text__description Lorem ipsum dolor sit amet, consectetur
