.section-one
  .container
    .section-one__wrap
      .desc.clearfix
        .desc__item
          .desc__title A fantastic heading
          .desc__content Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                         | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                         | Ut enim ad minim veniam, quis nostrud
        .desc__item
          .desc__title Good day blokes
          .desc__content Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                         | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                         | Ut enim ad minim veniam, quis nostrud
      .desc.clearfix
        .desc__item
          .desc__title Blaz Robar for president
          .desc__content Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                         | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                         | Ut enim ad minim veniam, quis nostrud
        .desc__item
          .desc__title Vote for robar
          .desc__content Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                         | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                         | Ut enim ad minim veniam, quis nostrud
