<!DOCTYPE html>
html(lang="en")
  head
    include template/head.jade
    include template/preloader-styles.jade

  body
    #page-preloader
          .multi
            div
    include template/header.jade
    include template/section-one.jade
    include template/section-two.jade
    include template/section-three.jade
    include template/section-four.jade
    include template/section-five.jade
    include template/section-six.jade
    include template/section-contact.jade
    include template/footer.jade
    script(src='js/main.js')
